@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-500 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-600 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-700 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-800 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-900 {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

body{
    font-family: Nantes;
}

/* Custom scrollbar styles */
.custom-scrollbar {
    display: block;
    max-height: 440px;
    overflow-y: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #E5F1F3;

}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2042B6;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: black;
}

/* Smooth transition for the mobile menu */
#mobileMenu {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(100%);
    opacity: 0;
}

#mobileMenu.show {
    transform: translateX(0);
    opacity: 1;
}

/* Sticky navbar  */
.sticky-header {
    transition: background-color 0.2s ease, opacity 0.2s ease;
}

.bg-blend-banner {
    background-color: #2042B6;
    opacity: 1;
}

.bg-blend-transparent {
    background-color: transparent;
    backdrop-filter: none;
}

.img-black {
    filter: brightness(0);
}

/* slider with js  */
.slider {
    overflow: hidden;
}

.slider-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.slider-item {
    flex: 0 0 45%;
    margin-right: 20px;
}

/* footer  part*/
footer address h3 {
    color: black;
    font-family: "Messina Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer ul li, footer address p {
    color: black;
    font-family: "Messina Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}